html, body{
  width:100%;
  height:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 0 0 0;
  overflow: hidden;
  position: relative;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.bg-white {
  background-color: #fff;
}

small, .small {
  font-size: 85%;
}


#loading-content{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 480px;
   height: 320px;
   margin-top: -160px; /* 이미지 높이/2 */
   margin-left: -240px; /* 이미지 너비/2  */
}

.main-container{
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  visibility: hidden;
}

.main-container > .row-fluid{
  height: 100%;
}

.main-section, .side-section, .main-area, .chat-area, .toolbar-area, .buttons-area,
.status-row, .status-area{
  height: 100%;
  padding: 0 0 0 0;
}

.main-row{
  height: 85%;
}

.footer-section{
  height: 15%;
}

.buttons-row{
  height: 80%;
}

.status-row{
  height: 20%;
}

.side-id{
  font-weight: bold;
  text-align: center;
}

.side-section{
  position: relative;
}

.side-avatar {
	position: relative;
	height: auto;
}

.side-avatar img {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

div.vertical-line{
  width: 2px;
  background-color: black;
  height: 100%;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

/* 실시간 정보 */
#rta-data{padding: 0 0 0 0}
#rta-th-name{width:130px;}

/* 인벤토리 */
#inven-content{overflow: hidden;}
#inven-content>table tr td{width: 80px; height: 107.5px; padding: 0 0 0 0; margine: 0 0 0 0; border:1px black solid; overflow:hidden; white-space: nowrap; display: inline-block;}
#inven-content>table tr td .item-img{width: 75px; height: 97.5px;}
#inven-content>table{table-layout: fixed; border-spacing:100px;}

#inven-player{float: left;}
#inven-player-avatar{width: 240px; height: 316px;}
#inven-player-avatar-view{position: relative; width:100%; height:100%}
#inven-player-avatar img{position: absolute; height: 100%; width: 100%}

/* 기업 정보 */  
.company-title{
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
  }

  .company-title-name{
    font-weight: bold;
    font-size: 30px;
  }

  .company-title-stock{
    font-size: 25px;
  }

  .company-title-no{
    font-size: 15px;
  }
  .company-info .col-xs-3 {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    height: 10%;
  }

  .company-info .company-info-basic div{
    font-size: 18px;
  }

  .company-chart-warpper{
    overflow: hidden;
  }

  .company-chart{
    text-align: center;
    overflow: hidden;
    max-height: 45%;
  }

  .company-chart li{
    float: none !important;
    display: inline-block;
  }
  .company-content hr{
    margin-top: 0;
    margin-bottom: 0;
  }

 .company-info button.btn{
    width:100%;
    height:35px
  }

 .company-info .row-fluid .company-buy{
    padding: 3 3 3 3
  }

 .company-buy .col-xs-2, .company-buy .col-xs-8{
    margin-top: 27px;
    margin-bottom: 27px;
  }
  
.company-chart .nav-tabs > li > a
{
    padding-top: 2px; 
    padding-bottom: 2px;
}

.company-chart .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a
{
    margin-top: 2px;
}
.company-chart .nav-tabs > li {
    margin-bottom: 0px; 
}
.company-chart .nav-tabs > li.active {
    margin-bottom: -1px;    
}

.company-buy h5, .company-sell h5{
   text-align: center;
}

/* 아이템 상점 */
#store-content .nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

#store-content .nav-tabs {
    text-align:center;
}


#store-window .store-itemBox {
	border: solid 3px #DDDDDD;
	margin: 3px 3px 3px 0;
	padding: 1px;
	width: 130px;
	height: 130px;
	text-align: center;
}


#store-prev-div{
	float:left;
	height:270px;
	line-height: 20;
	
}

#store-next-div{
	float:right;
	height:270px;
	line-height:20;
}
 
.store-container{
	float:left;
}

#store-content a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

/*친구박스*/

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

#friend-content .list-group-item img {
    height:50px;
    width:50px;
}

#friend-content .list-group .list-group-item{
  padding: 5 5 5 5;
}

#friend-content .list-group{
  margin-bottom: 3;
}

#friend-content .name {
    font-size: 15px;
    color:black;
}

#friend-content .friend-icon{
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 30px;
}

#friend-list-group{
  height: 73%;
  overflow: auto;
}

#friend-content{
  overflow: auto;
}

#friend-list-que{
  max-height: 25%;
  height: auto;
  overflow: auto;
}

#friend-content .list-group .title{
  border:2px solid #DDDDDD;
}

#friend-content .pull-right{
  line-height: 4vh;
}

.title>label{
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

#friend-content .friend-sendBtn{
  width: 35px;
  height: 35px;
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 8px;
  margin-top: 7px;
}

.friend-avatar-div {
	position: relative;
	height: 34px;
	width: 40px;
	border: black 1px solid;
}

.friend-avatar-div img {
  position: absolute;
  width: 100%;
  min-height: 100%;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#friend-content .friend-menu{
  min-height: 35px;
  height: 5%;
  text-align: center;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

/*경제용어사전*/

	/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    /* box-shadow:0px 1px 3px rgba(0,0,0,0.25); */
    border-radius:8px;
    background:#FFFFFF;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
	 border-bottom:1px solid #cccccc;
    width:100%;
    padding:15px;
    display:inline-block;
    /* border-bottom:1px solid #1a1a1a; */
    background:#ffffff;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
   /*  text-shadow:0px 1px 0px #1a1a1a; */
    color:#000000; 
    font-weight:bold;
}

 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#FFFFFF;
    /* Type */
    text-decoration:none;
    color:#5CB85C;
    font-weight:bold;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
  
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}


.ui-accordion-content-active{
	height:auto !important;
    overflow:auto;
}

/*경매장*/
.auction-itemImg {
	width: 100%;
}

#auction-tab-div{
	float:left
}

#auction-container {
	margin-left: 0;
	padding-left: 0;
}

#auction-searchBar{
	float:right;
}

#auction-select{
	width: auto;
	float:left;
}
#auction-search{
	width: auto;
}

#auction-page-btn{
	text-align: center;
}

/* 유저 정보 */
.userinfo-window{
  width:450px;
  height:400px;
  margin: 0 0 0 0 !important;
}

.userinfo-row:last-child {
   margin-bottom: 0;
}

.userinfo-favorite .glyphicon{
  font-size: 2.5em;
}

.dropdown-user {
   margin: 13px 0;
   padding: 5px;
   height: 100%;
}

.dropdown-user:hover {
   cursor: pointer;
}

.table-user-information>tbody>tr {
   border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
   border-top: 0;
}

.table-user-information>tbody>tr>td, .table-user-information>tbody>tr>th {
   border-top: 0;
}

.table-user-information>tbody>tr>th{
  width: 120px;
}

.toppad {
   margin-top: 20px;
}

/*주식 리스트*/

#page-align{
	text-align: center;
}
/*뉴스 검색*/
#news-search-window .ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

#news-search-window .search-form {
    margin-top: 10px;
}

#news-search-window .search-result h3 {
    margin-bottom: 3px;
    padding-left: 3px;
    color: #1E0FBE;
}

#news-search-window .search-result .search-link {
    color: #006621;
}

#news-search-window .search-result p {
    font-size: 12px;
    margin-top: 5px;
}

#hr-line-dashed {
    border-top: 1px solid #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

#news-search-window .news-search-img img{
  width: 100%;
  max-height: 70px;
}


/*채팅*/

.chat-group {
    list-style: none;
    margin: 0;
}

.chat-message{
    background: #f9f9f9;
    overflow: auto;
    height: 525px;
}

.chat-group li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

.chat-group img {
  max-width: 100%;
}

.chat-body {
  padding-bottom: 20px;
}

.chat-group li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat-group li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat-group li .chat-body .chat-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat-group li .chat-body p {
  margin: 0;
}

.chat-group li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat-group li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat-group li {
  margin: 15px 0;
}

.chat-group{
  padding-right: 20px;
  padding-left: 20px;
}

.chat-group li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  border-top: 1px solid #eee;
  min-height: 35px;
  padding-right: 0px;
  padding-left: 0px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.primary-font {
  color: #3c8dbc;
}

.chat-window, .col-md-12{
  padding: 0px 0px 0px 0px;
}

.chat-content{
  overflow: hidden;
}