/*Rounded Corners*/
/*top-left rounded Corners*/
.jqx-rc-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}
/*top-right rounded Corners*/
.jqx-rc-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom-left rounded Corners*/
.jqx-rc-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*bottom-right rounded Corners*/
.jqx-rc-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*top rounded Corners*/
.jqx-rc-t {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
/*bottom rounded Corners*/
.jqx-rc-b {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*right rounded Corners*/
.jqx-rc-r {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*left rounded Corners*/
.jqx-rc-l {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*all rounded Corners*/
.jqx-rc-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jqx-widget, .jqx-widget-header, .jqx-fill-state-normal,
.jqx-widget-content, .jqx-fill-state-hover, .jqx-fill-state-pressed {
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.1s;
    -o-transition: box-shadow linear 0.1s;
    transition: box-shadow linear 0.1s;
}

.jqx-widget-content {
    background-color: #ffffff;
    border-color: #cccccc;
}

.jqx-widget-header {
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
   	background-color:#f0f0f0; 
   	background:#f0f0f0;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
	background:-moz-linear-gradient(100% 100% 90deg, #eaeaea, #f8f8f8);
	background:-ms-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
	background:linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);	
    border-color:#cccccc;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-button, .jqx-fill-state-normal  {
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
 	background:#f0f0f0;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
	background:-moz-linear-gradient(100% 100% 90deg, #eaeaea, #f8f8f8);
	background:-ms-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
	background:linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);	
    border-color: #cccccc;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-fill-state-hover {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.3);
    color: black;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
    -webkit-box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
    -moz-box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
}
.jqx-fill-state-pressed {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.jqx-fill-state-hover, .jqx-fill-state-focus {
    color: #333333;
    text-decoration: none;
}

.jqx-fill-state-pressed {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.jqx-grid-cell {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-grid-column-menubutton {
    background-color: transparent;
    border-color: #cccccc;
}

.jqx-calendar-row-header, .jqx-calendar-top-left-header {
    background-color: #f0f0f0;
    border: 0px solid #f2f2f2;
}

.jqx-calendar-column-header {
    background-color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
}

.jqx-expander-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  	background:#f0f0f0;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
	background:-moz-linear-gradient(100% 100% 90deg, #eaeaea, #f8f8f8);
	background:-ms-linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);
	background:linear-gradient(top, #f8f8f8 0%,#eaeaea 100%);	
    border-color:#cccccc;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.jqx-ribbon-header-vertical, .jqx-widget-header-vertical {
	background:#f0f0f0;
	background:-ms-linear-gradient(left, #f8f8f8 0%,#eaeaea 100%);
	background:linear-gradient(left, #f8f8f8 0%,#eaeaea 100%);	
}

.jqx-scrollbar-state-normal {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}

.jqx-scrollbar-thumb-state-normal, .jqx-scrollbar-thumb-state-normal-horizontal {
    background: #f5f5f5;
    border-color: #b3b3b3;
}

.jqx-scrollbar-thumb-state-hover, .jqx-scrollbar-thumb-state-hover-horizontal {
    background: #e6e6e6;
    border-color: #b3b3b3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-progressbar {
    background: #f7f7f7 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-progressbar-value, .jqx-splitter-collapse-button-horizontal {
    background-color: #0081c2;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
}

.jqx-splitter-collapse-button-vertical, .jqx-progressbar-value-vertical {
    background-color: #0081c2;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #149bdf, #0480be);
}

.jqx-scrollbar-thumb-state-pressed, .jqx-splitter-splitbar-vertical, .jqx-splitter-splitbar-horizontal, .jqx-scrollbar-thumb-state-pressed-horizontal {
    background: #d9d9d9;
    border-color: #b3b3b3;
     box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.jqx-grid-column-sortdescbutton, jqx-grid-column-filterbutton, .jqx-grid-column-sortascbutton {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #cccccc;
}

.jqx-slider-rangebar {
    background: #cccccc;
}

.jqx-menu-vertical {
    background: #ffffff;
    filter: none;
}

.jqx-checkbox-check-checked {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAcklEQVQY02NgwA/YoJgoEA/Es4DYgJBCJSBeD8SboRinBiYg7kZS2IosyQ/Eakh8LySFq4FYHFlxGRBvBOJYqMRqJMU+yApNkSRAeC0Sux3dfSCTetE0wKyXxOWhMKhTYIr9CAUXyJMzgLgBagBBgDPGAI2LGdNt0T1AAAAAAElFTkSuQmCC');
}
.jqx-checkbox-hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.jqx-combobox-content, .jqx-input {
}

.jqx-combobox-content {
    border-color: #cccccc;
    border-color: rgba(0, 0, 0, 0.25);
}

.jqx-grid-bottomright, .jqx-panel-bottomright, .jqx-listbox-bottomright {
    background-color: #efefef;
}

.jqx-window, .jqx-tooltip {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.jqx-docking .jqx-window {
    box-shadow: none;
}

.jqx-docking-panel .jqx-window {
    box-shadow: none;
}

.jqx-radiobutton {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background: none;
}

.jqx-radiobutton, .jqx-radiobutton-hover {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.jqx-radiobutton-check-checked {
    filter: none;
    background: #666;
    background-repeat: no-repeat;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-radiobutton-check-indeterminate-disabled {
    filter: none;
    background: #999;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.jqx-slider-track-horizontal, .jqx-slider-track-vertical {
    border-color: #cccccc;
    background: #f0f0f0;
}

.jqx-slider-button {
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/*applied to a list item when the item is selected.*/
.jqx-listitem-state-hover, .jqx-menu-item-hover, .jqx-tree-item-hover, .jqx-calendar-cell-hover, .jqx-grid-cell-hover,
.jqx-menu-vertical .jqx-menu-item-top-hover, .jqx-input-popup .jqx-fill-state-hover,
.jqx-input-popup .jqx-fill-state-pressed {
    color: #ffffff !important;
    border-color: #316293 #316293 #29547E !important;
    text-decoration: none;
    background-color: #0081c2;
    background-repeat: repeat-x;
    outline: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #2f7eb6; /* Old browsers */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-position: 0 0;
}

.jqx-listitem-state-selected, .jqx-menu-item-selected, .jqx-tree-item-selected, .jqx-calendar-cell-selected, .jqx-grid-cell-selected,
.jqx-menu-vertical .jqx-menu-item-top-selected, .jqx-grid-selectionarea, .jqx-input-button-header, .jqx-input-button-innerHeader {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #003399;
    *background-color: #003399;
    background-repeat: repeat-x;
    border-color: #316293 #316293 #29547E !important;
    background: #356aa0; /* Old browsers */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-grid-cell .jqx-button, .jqx-grid-cell .jqx-button.jqx-fill-state-hover, .jqx-grid-cell .jqx-button.jqx-fill-state-pressed {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
   -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.jqx-popup {
    border: 1px solid #ccc;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}
.jqx-grid-column-sortascbutton, .jqx-expander-arrow-bottom, .jqx-window-collapse-button, .jqx-menu-item-arrow-up, .jqx-menu-item-arrow-up-selected, .jqx-menu-item-arrow-top-up, .jqx-icon-arrow-up, .jqx-icon-arrow-up-hover, .jqx-icon-arrow-up-selected {
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget .jqx-grid-group-expand, .jqx-grid-group-expand, .jqx-grid-column-menubutton, .jqx-grid-column-sortdescbutton, .jqx-expander-arrow-top, .jqx-window-collapse-button-collapsed, .jqx-menu-item-arrow-down, .jqx-menu-item-arrow-down-selected, .jqx-menu-item-arrow-down, .jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tabs-arrow-left, .jqx-menu-item-arrow-left-selected, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-left, .jqx-icon-arrow-down-left, .jqx-icon-arrow-left-selected {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-widget .jqx-grid-group-collapse, .jqx-grid-group-collapse, .jqx-tabs-arrow-right, .jqx-menu-item-arrow-right-selected, .jqx-menu-item-arrow-top-right, .jqx-icon-arrow-right, .jqx-icon-arrow-right-hover, .jqx-icon-arrow-right-selected {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-tree-item-arrow-collapse-rtl, .jqx-tree-item-arrow-collapse-hover-rtl {
    background-image: url(images/icon-left.png);
}

.jqx-menu-item-arrow-left-selected {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-menu-item-arrow-right-selected {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-input-button-content {
    font-size: 10px;
}
.jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-group-cell {border-color: #ccc;}
.jqx-combobox-content, .jqx-input {
    border-color: #cccccc;
    color: #555555;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.jqx-combobox-content, .jqx-combobox, .jqx-combobox-state-normal {
    border-color: #cccccc;
}

.jqx-combobox-content-focus, .jqx-combobox-state-focus, .jqx-fill-state-focus,
.jqx-numberinput-focus {
    outline: none;
    border-color: #959595;
}


input[type="text"].jqx-input, input[type="password"].jqx-input, input[type="text"].jqx-widget-content, input[type="textarea"].jqx-widget-content, textarea.jqx-input {
    padding-left: 0px !important;
}

input[type="text"].jqx-input:-moz-placeholder, input[type="text"].jqx-widget-content:-moz-placeholder, input[type="textarea"].jqx-widget-content:-moz-placeholder, textarea.jqx-input:-moz-placeholder {
    color: #999999;
}

input[type="text"].jqx-input:-webkit-input-placeholder, input[type="text"].jqx-widget-content:-webkit-input-placeholder, input[type="textarea"].jqx-widget-content:-webkit-input-placeholder, textarea.jqx-input:-webkit-input-placeholder {
    color: #999999;
}

input[type="text"].jqx-input:-ms-input-placeholder, input[type="text"].jqx-widget-content:-ms-input-placeholder, input[type="textarea"].jqx-widget-content:-ms-input-placeholder, textarea.jqx-input:-ms-input-placeholder {
    color: #999999;
}

.jqx-slider-rangebar {
    border-color: #0081c2;
    background: #0081c2;
}

.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-expand,
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-expand {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-collapse,
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-collapse {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-collapse-rtl,
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-collapse-rtl {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-expand-rtl,
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-expand-rtl {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tabs-title-selected-top, .jqx-tabs-selection-tracker-top {
    border-color: #CCCCCC;
    border-bottom: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jqx-tabs-title-selected-bottom, .jqx-tabs-selection-tracker-bottom {
    border-color: #CCCCCC;
    border-top: 1px solid #fff;
    text-shadow: 0 1px 0 #f2f2f2;
    filter: none;
    background: #fff;
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.jqx-tabs-title-hover-top, .jqx-tabs-title-hover-bottom, .jqx-tabs-header
{
   -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.jqx-window-collapse-button
{
    margin-top: 2px;
}
.jqx-window-collapse-button-collapsed {
    margin-top: 0px;
}
.jqx-layout
{
    background-color: #cccccc;
}.jqx-widget
{
  font-family: Verdana;
}
.jqx-widget-content
{
  color: #000000;
  text-shadow: none;
  border-color: #6BBD49;
  background: #FFFFFF;
  font-family: Verdana;
}
.jqx-widget-header, .jqx-grid .jqx-widget-header
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #6BBD49;
  background-color: #6BBD49;
  background-image: -moz-linear-gradient(top, #6BBD49, #6BBD49);
  background-image: -ms-linear-gradient(top, #6BBD49, #6BBD49);
  background-image: -o-linear-gradient(top, #6BBD49, #6BBD49);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6BBD49), to(#6BBD49));
  background-image: -webkit-linear-gradient(top, #6BBD49, #6BBD49);
  background-image: linear-gradient(top, #6BBD49, #6BBD49);
  background-image: linear-gradient(to bottom, #6BBD49, #6BBD49);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-column-menubutton, .jqx-widget.jqx-grid-column-menubutton
{
  border-color: #6BBD49;
}
.jqx-grid-cell, .jqx-widget .jqx-grid-cell
{
  background-color: #FFFFFF;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-normal
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #86C96A;
  background-color: #86C96A;
  background-image: -moz-linear-gradient(top, #86C96A, #86C96A);
  background-image: -ms-linear-gradient(top, #86C96A, #86C96A);
  background-image: -o-linear-gradient(top, #86C96A, #86C96A);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#86C96A), to(#86C96A));
  background-image: -webkit-linear-gradient(top, #86C96A, #86C96A);
  background-image: linear-gradient(top, #86C96A, #86C96A);
  background-image: linear-gradient(to bottom, #86C96A, #86C96A);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-button
{
  color: #333333;
  text-shadow: none;
  border-color: #cccccc;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(top, #FFFFFF, #FFFFFF);
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-grid-selectionarea
{
  border-color: #86C96A;
  background-color: #86C96A;
}
.jqx-widget .jqx-grid-cell-sort, .jqx-widget .jqx-grid-cell-filter, .jqx-widget .jqx-grid-cell-pinned, .jqx-grid-cell-sort, .jqx-grid-cell-filter, .jqx-grid-cell-pinned
{
  background-color: #E5E5E5;
  color: #000000;
  text-shadow: none;
}
.jqx-widget .jqx-grid-cell-alt, .jqx-widget .jqx-grid-cell-sort-alt, .jqx-widget .jqx-grid-cell-pinned-alt, .jqx-widget .jqx-grid-cell-filter-alt, .jqx-grid-cell-alt, .jqx-grid-cell-sort-alt, .jqx-grid-cell-filter-alt
{
  background-color: #F2EFDE;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover, .jqx-widget .jqx-grid-cell-hover
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #599E3C;
  background-color: #599E3C;
  background-image: -moz-linear-gradient(top, #599E3C, #599E3C);
  background-image: -ms-linear-gradient(top, #599E3C, #599E3C);
  background-image: -o-linear-gradient(top, #599E3C, #599E3C);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#599E3C), to(#599E3C));
  background-image: -webkit-linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(to bottom, #599E3C, #599E3C);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-fill-state-pressed, .jqx-widget .jqx-grid-cell-selected
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #599E3C;
  background-color: #599E3C;
  background-image: -moz-linear-gradient(top, #599E3C, #599E3C);
  background-image: -ms-linear-gradient(top, #599E3C, #599E3C);
  background-image: -o-linear-gradient(top, #599E3C, #599E3C);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#599E3C), to(#599E3C));
  background-image: -webkit-linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(to bottom, #599E3C, #599E3C);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-switchbutton-label-on
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #599E3C;
  background-color: #599E3C;
  background-image: -moz-linear-gradient(top, #599E3C, #599E3C);
  background-image: -ms-linear-gradient(top, #599E3C, #599E3C);
  background-image: -o-linear-gradient(top, #599E3C, #599E3C);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#599E3C), to(#599E3C));
  background-image: -webkit-linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(top, #599E3C, #599E3C);
  background-image: linear-gradient(to bottom, #599E3C, #599E3C);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top, .jqx-tabs-selection-tracker-top
{
  color: #000000;
  text-shadow: none;
  border-color: #6BBD49;
  border-bottom: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-tabs-title-selected-bottom, .jqx-tabs-selection-tracker-bottom
{
  color: #000000;
  text-shadow: none;
  border-color: #6BBD49;
  border-top: 1px solid #FFFFFF;
  background-image: none ;
  background-color: #FFFFFF;
}
.jqx-splitter-splitbar-hover
{
  background: #599E3C;
}
.jqx-splitter-splitbar-vertical, .jqx-splitter-splitbar-horizontal, .jqx-slider-track-horizontal, .jqx-slider-track-vertical
{
  background: #86C96A;
}
.jqx-splitter-collapse-button-horizontal, .jqx-splitter-collapse-button-vertical, .jqx-slider-rangebar
{
  background: #599E3C;
}
.jqx-scrollbar-state-normal
{
  background-color: #F8F8F8;
  border-color: #F8F8F8;
}
.jqx-grid-bottomright, .jqx-panel-bottomright, .jqx-listbox-bottomright
{
  background-color: #F8F8F8;
}
.jqx-scrollbar-thumb-state-normal
{
  background-color: #F8F8F8;
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -ms-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -o-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#F8F8F8));
  background-image: -webkit-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(left right, #F8F8F8, #F8F8F8);
}
.jqx-scrollbar-thumb-state-normal-horizontal
{
  background-color: #F8F8F8;
  background-color: #F8F8F8;
  background-image: -moz-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -ms-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -o-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#F8F8F8));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(to bottom, #F8F8F8, #F8F8F8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover
{
  background-color: #F8F8F8;
  border-color: #F8F8F8;
  background-image: -moz-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -ms-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -o-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: -webkit-gradient(linear, left top, right top, from(#F8F8F8), to(#F8F8F8));
  background-image: -webkit-linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(left, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(left right, #F8F8F8, #F8F8F8);
}
.jqx-scrollbar-thumb-state-hover-horizontal
{
  background-color: #F8F8F8;
  border-color: #F8F8F8;
  background-image: -moz-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -ms-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -o-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#F8F8F8));
  background-image: -webkit-linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(top, #F8F8F8, #F8F8F8);
  background-image: linear-gradient(to bottom, #F8F8F8, #F8F8F8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed
{
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  background-image: -moz-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, left top, right top, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(left, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(left right, #d9d9d9, #d9d9d9);
}
.jqx-scrollbar-thumb-state-pressed-horizontal
{
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal
{
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -o-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f8f8f8), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover
{
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -ms-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -o-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#e6e6e6), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(top, #e6e6e6, #e6e6e6);
  background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed
{
  background-color: #d9d9d9;
  border-color: #b3b3b3;
  background-image: -moz-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -ms-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(top, #d9d9d9, #d9d9d9);
  background-image: linear-gradient(to bottom, #d9d9d9, #d9d9d9);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked
{
  background: #73C5E1;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl
{
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  border-radius-topleft: 8px;
}
.jqx-rc-tr
{
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topright: 8px;
  border-radius-topright: 8px;
}
.jqx-rc-bl
{
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  border-radius-bottomleft: 8px;
}
.jqx-rc-br
{
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  border-radius-bottomright: 8px;
}
.jqx-rc-t
{
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
.jqx-rc-b
{
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.jqx-rc-r
{
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.jqx-rc-l
{
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.jqx-radiobutton-default, .jqx-radiobutton, .jqx-radiobutton-check-checked, .jqx-radiobutton-hover, .jqx-radiobutton-check-indeterminate, .jqx-radiobutton-check-indeterminate-disabled, .jqx-slider-button
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all, .jqx-tooltip, .jqx-tooltip-text, .jqx-tooltip-main
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.jqx-grid-column-sortascbutton, .jqx-expander-arrow-bottom, .jqx-window-collapse-button, .jqx-menu-item-arrow-up, .jqx-menu-item-arrow-top-up, .jqx-icon-arrow-up
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected, .jqx-icon-arrow-up-selected.jqx-expander-arrow-expanded
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton, .jqx-grid-column-sortdescbutton, .jqx-expander-arrow-top, .jqx-window-collapse-button-collapsed, .jqx-menu-item-arrow-down, .jqx-menu-item-arrow-down, .jqx-tree-item-arrow-expand, .jqx-grid-group-expand, .jqx-widget .jqx-grid-group-expand, .jqx-icon-arrow-down
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected, .jqx-icon-arrow-down-selected
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left, .jqx-menu-item-arrow-top-left, .jqx-grid-group-collapse-rtl, .jqx-widget .jqx-grid-group-collapse-rtl, .jqx-icon-arrow-left, .jqx-icon-arrow-down-left
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical
{
  background: #FFFFFF;
}
.jqx-menu-item-arrow-left-selected, .jqx-icon-arrow-left-selected
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right, .jqx-menu-item-arrow-top-right, .jqx-menu-item-arrow-collapse, .jqx-grid-group-collapse, .jqx-widget .jqx-grid-group-collapse, .jqx-icon-arrow-right
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected, .jqx-icon-arrow-right-selected
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button, .jqx-tabs-close-button, .icon-close
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover
{
  background-image: url('images/close.png');
}
.jqx-widget .jqx-grid-column-header, .jqx-widget .jqx-grid-cell, .jqx-widget .jqx-grid-group-cell, .jqx-grid-cell
{
  border-color: #FFFFFF;
}
.jqx-checkbox-check-checked
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip, .jqx-tooltip-main
{
  color: #000000;
  text-shadow: none;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
}
.jqx-combobox-content, .jqx-input
{
  color: #000000;
  text-shadow: none;
  border-color: #6BBD49;
  background-color: #FFFFFF;
}
.jqx-combobox-input
{
  color: #000000;
  text-shadow: none;
}
.jqx-input-content
{
  color: #000000;
  text-shadow: none;
  background-color: #FFFFFF;
}
.jqx-fill-state-focus, .jqx-popup .jqx-fill-state-focus
{
  border-color: #959595;
}
.jqx-popup.jqx-listbox, .jqx-popup.jqx-calendar,.jqx-menu-dropdown,  .jqx-popup.jqx-dropdownbutton-popup
{
  color: #333333;
  text-shadow: none;
  border-color: #6BBD49;
  background-color: #FFFFFF;
}
.jqx-menu-item-arrow-right, .jqx-tree-item-arrow-collapse
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-right-hover
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-hover
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-item-arrow-right-selected
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-selected
{
  background-image: url('images/icon-left-white.png');
}
.jqx-scrollbar .jqx-icon-arrow-up
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar .jqx-icon-arrow-left
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar .jqx-icon-arrow-right
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar .jqx-icon-arrow-bottom
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar .jqx-icon-arrow-up-hover
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar .jqx-icon-arrow-left-hover
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar .jqx-icon-arrow-right-hover
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar .jqx-icon-arrow-bottom-hover
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar .jqx-icon-arrow-up-selected
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar .jqx-icon-arrow-left-selected
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar .jqx-icon-arrow-right-selected
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar .jqx-icon-arrow-bottom-selected
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar .jqx-icon-arrow-up, .jqx-tabs-header .jqx-icon-arrow-up
{
}
.jqx-calendar .jqx-icon-arrow-left, .jqx-tabs-header .jqx-icon-arrow-left
{
}
.jqx-calendar .jqx-icon-arrow-right, .jqx-tabs-header .jqx-icon-arrow-right
{
}
.jqx-calendar .jqx-icon-arrow-bottom, .jqx-tabs-header .jqx-icon-arrow-bottom
{
}
.jqx-widget .jqx-grid-cell, .jqx-listitem-state-normal, .jqx-menu-item-normal, .jqx-tree-item-normal, .jqx-calendar-cell, .jqx-grid-cell,.jqx-menu-vertical .jqx-menu-item-top-normal, .jqx-input-popup .jqx-fill-state-normal
{
  font-family: Verdana;
}
.jqx-widget .jqx-grid-cell-hover, .jqx-listitem-state-hover, .jqx-menu-item-hover, .jqx-tree-item-hover, .jqx-calendar-cell-hover, .jqx-grid-cell-hover,.jqx-menu-vertical .jqx-menu-item-top-hover, .jqx-input-popup .jqx-fill-state-hover,.jqx-input-button-header, .jqx-input-popup .jqx-fill-state-pressed,.jqx-input-button-header
{
  color: #ffffff !important;
  text-shadow: none;
  border-color: #599E3C !important;
  background-color: #599E3C !important;
  background-image: -moz-linear-gradient(top, #599E3C, #599E3C) !important;
  background-image: -ms-linear-gradient(top, #599E3C, #599E3C) !important;
  background-image: -o-linear-gradient(top, #599E3C, #599E3C) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#599E3C), to(#599E3C)) !important;
  background-image: -webkit-linear-gradient(top, #599E3C, #599E3C) !important;
  background-image: linear-gradient(top, #599E3C, #599E3C) !important;
  background-image: linear-gradient(to bottom, #599E3C, #599E3C) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-widget  .jqx-grid-cell-selected, .jqx-listitem-state-selected, .jqx-menu-item-selected, .jqx-tree-item-selected, .jqx-calendar-cell-selected, .jqx-grid-cell-selected,.jqx-menu-vertical .jqx-menu-item-top-selected, .jqx-grid-selectionarea
{
  color: #ffffff !important;
  text-shadow: none;
  border-color: #6BBD49 !important;
  background-color: #6BBD49 !important;
  background-image: -moz-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -ms-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -o-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6BBD49), to(#6BBD49)) !important;
  background-image: -webkit-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(to bottom, #6BBD49, #6BBD49) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Verdana;
}
.jqx-slider-rangebar
{
  background-color: #6BBD49 !important;
}
.jqx-progressbar-value
{
  background-color: #6BBD49 !important;
  background-image: -moz-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -ms-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -o-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6BBD49), to(#6BBD49)) !important;
  background-image: -webkit-linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(top, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(to bottom, #6BBD49, #6BBD49) !important;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-progressbar-value-vertical
{
  background-color: #6BBD49 !important;
  background-image: -moz-linear-gradient(left, #6BBD49, #6BBD49) !important;
  background-image: -ms-linear-gradient(left, #6BBD49, #6BBD49) !important;
  background-image: -o-linear-gradient(left, #6BBD49, #6BBD49) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#6BBD49), to(#6BBD49)) !important;
  background-image: -webkit-linear-gradient(left, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(left, #6BBD49, #6BBD49) !important;
  background-image: linear-gradient(left right, #6BBD49, #6BBD49) !important;
}
.jqx-splitter-collapse-button-horizontal
{
  background-color: #6BBD49 !important;
}
.jqx-splitter-collapse-button-vertical
{
  background-color: #6BBD49 !important;
}
.jqx-icon-calendar
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell.jqx-grid-cell>.jqx-grid-group-expand
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-expand
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-expand
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell.jqx-grid-cell>.jqx-grid-group-collapse
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-collapse
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-collapse
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell.jqx-grid-cell>.jqx-grid-group-expand-rtl
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-expand-rtl
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-expand-rtl
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell.jqx-grid-cell>.jqx-grid-group-collapse-rtl
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell.jqx-grid-cell-hover>.jqx-grid-group-collapse-rtl
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell.jqx-grid-cell-selected>.jqx-grid-group-collapse-rtl
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton, .jqx-grid-column-sortdescbutton
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus
{
  background-image: url('images/icon-plus.png');
}
