<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.zuplay.model.dao.ItemStoreDAO">
	<resultMap type="itemDTO" id="itemMapper">
		<id column="ITEM_CODE" property="itemCode"/>
		<result column="ITEM_NAME" property="itemName"/>
		<result column="ITEM_PRICE" property="itemPrice"/>
		<result column="ITEM_CLASS" property="itemClass"/>
		<result column="ITEM_GRADE" property="itemGrade"/>
		<result column="ITEM_IMG" property="itemImg"/>
		
	</resultMap>
	<select id="itemStoreSelectAll" parameterType="java.util.Map" resultMap="itemMapper">
		select * from (select
		row_number() over(order by item_class desc,item_code) rnum,item_code,item_name,item_price,item_class,item_grade,item_img,item_gender
		from item
		where upper(item_gender)!=#{playerGender} and item_grade!='default') where
		rnum between #{startNo} and #{endNo}
	</select>
	
	<select id="itemStoreSelect" parameterType="java.util.Map" resultMap="itemMapper">
		select * from (select
		row_number() over(order by item_code) rnum,item_code,item_name,item_price,item_class,item_grade,item_img,item_gender
		from item
		where upper(item_gender)!=#{playerGender} and item_class=#{itemClass} and item_grade!='default') where
		rnum between #{startNo} and #{endNo}
	</select>
	
	<select id="getPrice" parameterType="String" resultType="int">
		select item_price from item where item_code=#{itemCode}
	</select>
	
</mapper>