<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.zuplay.model.dao.ItemAuctionDAO">
	<resultMap type="itemMarketDTO" id="itemMarketMapper">
		<id column="im_sq" property="imSq" />
		<result column="player_nickname" property="playerNickname" />
		<result column="item_code" property="itemCode" />
		<result column="im_purchase_price" property="imPurchasePrice" />
		<result column="im_bid_time" property="imBidTime" />
		<result column="im_auction_end" property="imAuctionEnd" />
		<association property="itemDTO" javaType="itemDTO">
			<id column="item_code" property="itemCode" />
			<result column="item_name" property="itemName" />
			<result column="item_price" property="itemPrice" />
			<result column="item_class" property="itemClass" />
			<result column="item_grade" property="itemGrade" />
			<result column="item_img" property="itemImg" />
		</association>
	</resultMap>
	<resultMap type="itemDTO" id="itemMapper">
		<id column="ITEM_CODE" property="itemCode" />
		<result column="ITEM_NAME" property="itemName" />
		<result column="ITEM_PRICE" property="itemPrice" />
		<result column="ITEM_CLASS" property="itemClass" />
		<result column="ITEM_GRADE" property="itemGrade" />
		<result column="ITEM_IMG" property="itemImg" />

	</resultMap>
	<select id="auctionSearchAll" parameterType="java.util.Map"
		resultMap="itemMarketMapper">
		select * from (select row_number() over(order by
		IM_PURCHASE_PRICE desc) rnum,
		im_sq, player_nickname, item_code,
		im_purchase_price, im_bid_time,
		Im_auction_end
		from item_market where
		im_auction_end='T') m join item i on
		m.item_code=i.item_code
		where
		item_name like '%${keyword}%' and rnum
		between #{startNo} and #{endNo}
		and i.item_gender!=lower(#{gender})
	</select>
	<select id="auctionSearch" parameterType="java.util.Map"
		resultMap="itemMarketMapper">
		select * from (select row_number() over(order by
		IM_PURCHASE_PRICE desc) rnum,
		im_sq, player_nickname, item_code,
		im_purchase_price, im_bid_time,
		Im_auction_end
		from item_market where
		im_auction_end='T') m join item i on
		m.item_code=i.item_code
		where
		item_name like '%${keyword}%' and
		item_class=#{itemClass} and rnum
		between #{startNo} and #{endNo} and i.item_gender!=lower(#{gender})
	</select>
	<select id="bringItemInfoByImSq" parameterType="int"
		resultMap="itemMarketMapper">
		select * from item_market m join item i on
		m.item_code=i.item_code
		where im_sq=#{value}
	</select>
	<update id="auctionBuyFinish" parameterType="int">
		update item_market
		set IM_AUCTION_END='F' where im_sq=#{value}
	</update>

	<insert id="auctionInsertItemMarket" parameterType="java.util.Map">
		insert into
		item_market values
		(im_sq.nextval,#{playerNickname},#{itemCode},#{imPurchasePrice},sysdate,'T')
	</insert>

	<update id="auctionCancel" parameterType="int">
		update item_market set
		im_auction_end='X' where im_sq=#{value}
	</update>
	<select id="auctionBring" parameterType="int" resultType="String">
		select
		IM_AUCTION_END from item_market where im_sq=#{value}
	</select>
	<select id="auctionMyPage" parameterType="String" resultMap="itemMarketMapper">
		select * from (select * from item_market order
		by im_bid_time) m join
		item i on
		m.item_code=i.item_code
		where
		player_nickname=#{playerNickname}
	</select>
	<select id="auctionSelectBidTime" resultMap="itemMarketMapper">
		select
		im_Sq,to_char(im_bid_time+8, 'yyyymmdd') im_bid_time from item_market
	</select>
	<update id="auctionUpdate" parameterType="Integer">
		update item_market set
		im_auction_end='X' where im_auction_end='T' and im_sq=${value}
	</update>
	<select id="auctionHowPrice" parameterType="int" resultType="int">
		select im_purchase_price from item_market where im_sq=#{value}
	</select>
	<delete id="auctionDeleteFin" parameterType="int">
		delete item_market
		where im_sq=#{value}
	</delete>
	<select id="itemAuctionEndSearch" parameterType="String" resultMap="itemMarketMapper">
		select * from item_market where player_nickname=#{value} and im_auction_end!='T'
	</select>
	
</mapper>