<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.zuplay.model.dao.LoginDAO">

<resultMap type="playerDTO" id="firstLoginCheckMap">
	<id column="player_Nickname" property="playerNickname"/>
	<result column="player_Naver_Id" property="playerNaverId"/>	
	<result column="player_Gender" property="playerGender"/>
	<result column="player_age" property="playerAge"/>
	<result column="player_Money" property="playerMoney"/>
	<result column="player_Premoney" property="playerPreMoney"/>
	<result column="player_Ruby" property="playerRuby"/>
	<result column="player_Grade" property="playerGrade"/>
	<result column="PLAYER_LASTACCESS" property="playerLastAccess"/>
	<result column="player_Daily_Rank" property="playerDailyRank"/>
	<result column="player_Season_Rank" property="playerSeasonRank"/>
</resultMap>
	<select id="firstLoginCheck" resultMap="firstLoginCheckMap" parameterType="String">
		select * from player where player_Naver_Id=#{playerNaverId}
	</select>

	<insert id="joinMember" parameterType="playerDTO">
		insert into player(player_Nickname,player_Naver_Id,player_Gender,player_age,player_Money,player_premoney,player_Ruby,player_Grade,player_last_access,player_Daily_Rank,player_Weekly_Rank,player_Season_Rank,player_Total_Rank) values 
		(#{playerNickname},#{playerNaverId},#{playerGender},#{playerAge},#{playerMoney},#{playerPreMoney},#{playerRuby},#{playerGrade},sysdate,#{playerDailyRank},#{playerSeasonRank})
	</insert>
	
	<select id="checkRepetiton" parameterType="String" resultType="String">
		select player_naver_id from player where player_nickname=#{playerNickname} 
	</select>
	
	<select id="getNickname" parameterType="String" resultType="String">
		select player_nickname from player where player_naver_id=#{playerNaverId}
	</select>
	<select id="getGender" parameterType="String" resultType="String">
		select player_gender from player where player_nickname=#{playerNickname}
	</select>
</mapper>