<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.zuplay.model.dao.PlayerInfoDAO">

	<resultMap type="playerDTO" id="player">
		<id column="PLAYER_NICKNAME" property="playerNickname" />
		<result column="PLAYER_NAVER_ID" property="playerNaverId" />
		<result column="PLAYER_GENDER" property="playerGender" />
		<result column="PLAYER_AGE" property="playerAge" />
		<result column="PLAYER_LIKE" property="playerLike" />
		<result column="PLAYER_MONEY" property="playerMoney" />
		<result column="PLAYER_RUBY" property="playerRuby" />
		<result column="PLAYER_GRADE" property="playerGrade" />
		<result column="PLAYER_LASTACCESS" property="playerLastAccess"/>
		<result column="PLAYER_DAILY_RANK" property="playerDailyRank" />
		<result column="PLAYER_WEEKLY_RANK" property="playerWeeklyRank" />
		<result column="PLAYER_SEASON_RANK" property="playerSeasonRank" />
		<result column="PLAYER_TOTAL_RANK" property="playerTotalRank" />
	</resultMap>


	<select id="getPlayer" parameterType="String" resultMap="player">
		select *
		from player where player_nickname = #{value}
	</select>

	<select id="getAllPlayerNickName" resultType="String">
		select
		player_nickname from player
	</select>
	
	<update id="setPlayerMoney" parameterType="java.util.Map">
		update player
		set
		PLAYER_MONEY = #{playerMoney}
		where player_Nickname = #{playerNickname}
	</update>
	
	<update id="setPreMoney" parameterType="java.util.Map">
		update player
		set
		player_premoney = #{preMoney}
		where player_nickname = #{playerNickname}
	</update>
	
	<select id="getRuby" parameterType="String" resultType="int">
		select
		player_ruby from player where player_nickname=#{playerNickname}
	</select>	

	<update id="updateRuby" parameterType="java.util.Map">
		update player set
		player_ruby=#{updateRuby} where player_nickname=#{playerNickname}
	</update>

	<update id="earningRateUpdate" parameterType="java.util.Map">
		update player set
		${kind}=#{EarningRate}
		where player_nickname=#{playerNickname}
	</update>
</mapper>