<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.zuplay.model.dao.stock.PlayerStockDAO">

	<resultMap type="playerListsDTO" id="playerLists">
		<id column="PL_SQ" property="plSq" />
		<result column="isuCd" property="isuCd" />
		<result column="PLAYER_NICKNAME" property="playerNickname" />
		<result column="PL_QUANTITY" property="plQuantity" />
	</resultMap>

	<select id="getPlayerStocks" parameterType="String" resultMap="playerLists">
		select * from player_lists where player_nickname = #{value}
	</select>

	<select id="getPlayerStock" parameterType="java.util.Map"
		resultMap="playerLists">
		select * from player_lists where player_nickname =
		#{playerNickname} and isuCd = #{isuCd}
	</select>
	
	<update id="setPlayerStock" parameterType="java.util.Map">
	
	merge into player_lists
		using dual
		on (isuCd = #{isuCd} and PLAYER_NICKNAME = #{playerNickname})
		when matched then
		update set
		pl_quantity = #{plQuantity}
		when not matched
		then
		insert(pl_sq, isuCd, PLAYER_NICKNAME, pl_quantity)
		values
		(pl_sq.nextval, #{isuCd}, #{playerNickname}, #{plQuantity})
		
	</update>
	
	<select id="getLikeStock" parameterType="String" resultType="String">
		select isuCd from stock_like where player_nickname = #{value}
	</select>
</mapper>