<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.zuplay.model.dao.SettingDAO">

	<update id='settingSave' parameterType='settingDTO'>
		update player_setting set
		bgm_sound=#{bgmSound},my_page=#{myPage},friend_add=#{friendAdd} where
		player_nickname=#{playerNickname}
	</update>
	
	<update id='settingReset' parameterType='String'>
		update player_setting set
		bgm_sound=30,my_page='T',friend_add='T' where
		player_nickname=#{value}
	</update>
</mapper>