<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.zuplay.model.dao.stock.StockInfoDAO">

	<!-- 주식 리스트로 볼때 -->
	<resultMap type="masterDTO" id="master">
		<id column="isuCd" property="isuCd" />
		<result column="isuKorAbbrv" property="isuKorAbbrv" />
		<result column="kind" property="kind" />
		<association property="priceDTO" javaType="priceDTO">
			<result column="cmpprevddPrc" property="cmpprevddPrc" />
			<result column="trdPrc" property="trdPrc" />
			<result column="accTrdvol" property="accTrdvol" />
			<result column="opnprc" property="opnprc" />
			<result column="hgprc" property="hgprc" />
			<result column="lwprc" property="lwprc" />

		</association>
	</resultMap>

	<!-- 주식 상세하게 볼때 -->
	<resultMap type="masterDTO" id="master2">
		<id column="isuCd" property="isuCd" />
		<result column="isuKorAbbrv" property="isuKorAbbrv" />
		<result column="listShrs" property="listShrs" />
		<result column="uplmtprc" property="uplmtprc" />
		<result column="lwlmtprc" property="lwlmtprc" />
		<result column="kind" property="kind" />
		<association property="priceDTO" javaType="priceDTO">
			<result column="cmpprevddPrc" property="cmpprevddPrc" />
			<result column="trdPrc" property="trdPrc" />
			<result column="accTrdvol" property="accTrdvol" />
			<result column="opnprc" property="opnprc" />
			<result column="hgprc" property="hgprc" />
			<result column="lwprc" property="lwprc" />
		</association>
	</resultMap>

	<resultMap type="realTimePriceDTO" id="realTimePrice">
		<result column="RP_trdPrc" property="rpTrdPrc" />
		<result column="RP_trdTm" property="rpTrdTm" />
	</resultMap>

	<resultMap type="dailyPriceDTO" id="dailyPrice">
		<result column="DP_clsprc" property="dpClsprc" />
		<result column="DP_DATE" property="dpDate" />
	</resultMap>

	<select id="getLists" resultType="ListsDTO">
		select * from lists
	</select>

	<select id="getPrices" resultType="priceDTO">
		select * from price
	</select>

	<select id="getPrice" parameterType="String" resultType="priceDTO">
		select *
		from price where isuCd=#{value}
	</select>

	<select id="getStockList" parameterType="java.util.Map"
		resultMap="master">

		select * from ( SELECT * FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY prevddAccTrdval desc) rnum, isuCd,
		isuKorAbbrv, prevddAccTrdvol, kind
		FROM master
		<where>
			<if test="isuKorAbbrv!='undefined'">
				upper(isuKorAbbrv) like upper('%${isuKorAbbrv}%')
			</if>
		</where>
		) WHERE rnum >= #{startPage} AND rnum &lt;= #{endPage} ) m join price
		p on m.isucd = p.isucd

	</select>

	<select id="getListSize" parameterType="String" resultType="Integer">
		select count(*) from master
		where isuKorAbbrv like '%${value}%'
	</select>


	<select id="getStock" parameterType="String" resultMap="master2">
		select * from
		(select isuKorAbbrv, isuCd, listShrs, uplmtprc, lwlmtprc, kind from master
		where isucd = #{value})
		m join price p on m.isucd = p.isucd
	</select>

	<select id="getRTPList" parameterType="String" resultMap="realTimePrice">
		select
		rp_trdPrc, rp_trdtm from realtime_price
		where isucd = #{value}
	</select>

	<select id="getDPList" parameterType="String" resultMap="dailyPrice">
		select
		dp_clsprc, dp_date from daily_price
		where isucd = #{value} and dp_date
		>= ADD_MONTHS(TRUNC(SYSDATE), -1)
	</select>

</mapper>