<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.zuplay.model.dao.StockUpdateDAO">
	<select id="getLists" resultType="ListsDTO">
		select * from lists
	</select>
	<select id="getPrice" resultType="priceDTO">
		select * from price
	</select>
	<insert id="insertDailyPrice" parameterType="priceDTO">
		insert into daily_price(dp_sq, isuCd, dp_clsprc, dp_date) values(rp_sq.nextval, #{isuCd}, #{trdPrc}, sysdate)
	</insert>
	<insert id="insertTrdPrc" parameterType="priceDTO">
		insert into realtime_price(RP_SQ, isuCd, RP_trdPrc, RP_trdTm) values(rp_sq.nextval, #{isuCd}, #{trdPrc}, #{trdTm})
	</insert>
	<update id="mergeIsu" parameterType="ListsDTO">
		merge into lists
		using
		dual
		on
		(isuCd=#{isuCd})
		when matched then
		update set
		mktTpCd=#{mktTpCd,
		jdbcType=VARCHAR},isuSrtCd=#{isuSrtCd},isuKorNm=#{isuKorNm},isuKorAbbrv=#{isuKorAbbrv}
		when not matched then
		insert
		(mktTpCd,isuCd,isuSrtCd,isuKorNm,isuKorAbbrv)
		values (#{mktTpCd,
		jdbcType=VARCHAR},#{isuCd},#{isuSrtCd},#{isuKorNm},#{isuKorAbbrv})
	</update>
	
		
	<update id="mergeMaster" parameterType="masterDTO">
	merge into master
	using
	dual
	on (isuCd=#{isuCd})
	when matched then
	update
	set
	isuSrtCd = #{isuSrtCd},
	isuKorAbbrv = #{isuKorAbbrv},
	govncExcelYn= #{govncExcelYn},
	haltYn = #{haltYn},
	mktcapScaleCd = #{mktcapScaleCd},
	mfindYn = #{mfindYn},
	krxAutosSectidxYn = #{krxAutosSectidxYn},
	krxSemiconSectidxYn = #{krxSemiconSectidxYn},
	krxBioSectidxYn = #{krxBioSectidxYn},
	krxFncSectidxYn = #{krxFncSectidxYn},
	krxInfoCommSectidxYn = #{krxInfoCommSectidxYn},
	krxEnergyChemSectidxYn = #{krxEnergyChemSectidxYn},
	krxSteelSectidxYn = #{krxSteelSectidxYn},
	krxConsgoodSectidxYn = #{krxConsgoodSectidxYn},
	krxMediaCommSectidxYn = #{krxMediaCommSectidxYn},
	krxConstrSectidxYn = #{krxConstrSectidxYn},
	krxFncSvcSectidxYn = #{krxFncSvcSectidxYn},
	krxSecuSectidxYn = #{krxSecuSectidxYn},
	krxShipSectidxYn = #{krxShipSectidxYn},
	prevddAccTrdvol = #{prevddAccTrdvol},
	prevddAccTrdval = #{prevddAccTrdval},
	uplmtprc = #{uplmtprc},
	lwlmtprc = #{lwlmtprc},
	parval = #{parval},
	listShrs = #{listShrs},
	krxInsuSectidxYn = #{krxInsuSectidxYn},
	krxTransSectidxYn = #{krxTransSectidxYn},
	krxRetailSectidxYn = #{krxRetailSectidxYn},
	krxLeisureSectidxYn = #{krxLeisureSectidxYn}

	when not matched then
	insert(isuCd, isuSrtCd ,isuKorAbbrv ,govncExcelYn ,haltYn ,mktcapScaleCd ,mfindYn ,krxAutosSectidxYn ,krxSemiconSectidxYn
	,krxBioSectidxYn ,krxFncSectidxYn ,
	krxInfoCommSectidxYn
	,krxEnergyChemSectidxYn ,krxSteelSectidxYn ,krxConsgoodSectidxYn
	,krxMediaCommSectidxYn ,krxConstrSectidxYn ,
	krxFncSvcSectidxYn
	,krxSecuSectidxYn ,krxShipSectidxYn ,prevddAccTrdvol ,prevddAccTrdval
	,uplmtprc ,lwlmtprc ,
	parval ,listShrs ,krxInsuSectidxYn
	,krxTransSectidxYn ,krxRetailSectidxYn ,krxLeisureSectidxYn)
	values(
	#{isuCd},
	#{isuSrtCd},
	#{isuKorAbbrv},
	#{govncExcelYn},
	#{haltYn},
	#{mktcapScaleCd},
	#{mfindYn},
	#{krxAutosSectidxYn},
	#{krxSemiconSectidxYn},
	#{krxBioSectidxYn},
	#{krxFncSectidxYn},
	#{krxInfoCommSectidxYn},
	#{krxEnergyChemSectidxYn},
	#{krxSteelSectidxYn},
	#{krxConsgoodSectidxYn},
	#{krxMediaCommSectidxYn},
	#{krxConstrSectidxYn},
	#{krxFncSvcSectidxYn},
	#{krxSecuSectidxYn},
	#{krxShipSectidxYn},
	#{prevddAccTrdvol},
	#{prevddAccTrdval},
	#{uplmtprc},
	#{lwlmtprc},
	#{parval},
	#{listShrs},
	#{krxInsuSectidxYn},
	#{krxTransSectidxYn},
	#{krxRetailSectidxYn},
	#{krxLeisureSectidxYn})
	</update>
	<update id="mergePrice" parameterType="priceDTO">
		merge into price
		using dual
		on (isuCd=#{isuCd})
		when matched then
		update set
		cmpprevddTpCd = #{cmpprevddTpCd},
		cmpprevddPrc = #{cmpprevddPrc},
		trdPrc = #{trdPrc},
		trdvol = #{trdvol},
		opnprc = #{opnprc},
		hgprc = #{hgprc},
		lwprc =	#{lwprc},
		trdTm = #{trdTm},
		mktStatTpCd = #{mktStatTpCd}
		when not matched then
		insert(isuCd,cmpprevddTpCd,cmpprevddPrc,trdPrc,trdvol,opnprc,hgprc,lwprc,trdTm,mktStatTpCd)
		values
		(#{isuCd},#{cmpprevddTpCd},#{cmpprevddPrc},#{trdPrc},#{trdvol},#{opnprc},#{hgprc},#{lwprc},#{trdTm},#{mktStatTpCd})
	</update>
</mapper>