<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.zuplay.model.dao.stock.StockUpdateDAO">
	
	<update id="priceUpdate" parameterType="priceDTO">
		merge into price
		using dual
		on (isuCd=#{isuCd})
		when matched then
		update set
		cmpprevddTpCd =
		#{cmpprevddTpCd},
		cmpprevddPrc = #{cmpprevddPrc},
		trdPrc = #{trdPrc},
		trdvol = #{trdvol},
		opnprc = #{opnprc},
		hgprc = #{hgprc},
		lwprc =
		#{lwprc},
		trdTm = #{trdTm},
		mktStatTpCd = #{mktStatTpCd}
		when not matched
		then
		insert(isuCd,cmpprevddTpCd,cmpprevddPrc,trdPrc,trdvol,opnprc,hgprc,lwprc,trdTm,mktStatTpCd)
		values
		(#{isuCd},#{cmpprevddTpCd},#{cmpprevddPrc},#{trdPrc},#{trdvol},#{opnprc},#{hgprc},#{lwprc},#{trdTm},#{mktStatTpCd})
	</update>
	
	<insert id="realtimePriceInsert" parameterType="priceDTO">
		insert into
		realtime_price(RP_SQ, isuCd, RP_trdPrc, RP_trdTm)
		values(rp_sq.nextval, #{isuCd}, #{trdPrc}, #{trdTm})
	</insert>
	
	<delete id="realtimePriceReset">
		delete from realtime_price
	</delete>
	
	<update id="masterUpdate" parameterType="masterDTO">
	
		update master set

		prevddAccTrdvol = #{prevddAccTrdvol},
		prevddAccTrdval = #{prevddAccTrdval},
		uplmtprc = #{uplmtprc},
		lwlmtprc = #{lwlmtprc},
		parval = #{parval},
		listShrs = #{listShrs},
		
		where isuCd=#{isuCd}
		
		<!--
		머지
		merge into master
		using
		dual
		on (isuCd=#{isuCd})
		when matched then
		update
		set
		isuSrtCd = #{isuSrtCd},
		isuKorAbbrv = #{isuKorAbbrv},
		govncExcelYn = #{govncExcelYn},
		haltYn = #{haltYn},
		mktcapScaleCd = #{mktcapScaleCd},
		mfindYn = #{mfindYn},
		prevddAccTrdvol = #{prevddAccTrdvol},
		prevddAccTrdval = #{prevddAccTrdval},
		uplmtprc = #{uplmtprc},
		lwlmtprc = #{lwlmtprc},
		parval = #{parval},
		listShrs = #{listShrs},
		kind = #{kind}
		when not matched then
		insert(isuCd, isuSrtCd
		,isuKorAbbrv ,govncExcelYn ,haltYn ,mktcapScaleCd ,mfindYn
		,prevddAccTrdvol ,prevddAccTrdval
		,uplmtprc ,lwlmtprc
		,parval ,listShrs , kind)
		values(
		#{isuCd},
		#{isuSrtCd},
		#{isuKorAbbrv},
		#{govncExcelYn},
		#{haltYn},
		#{mktcapScaleCd},
		#{mfindYn},
		#{prevddAccTrdvol},
		#{prevddAccTrdval},
		#{uplmtprc},
		#{lwlmtprc},
		#{parval},
		#{listShrs},
		#{kind}) -->
	</update>
	
	<insert id="dailyPriceInsert" parameterType="priceDTO">
		insert into
		daily_price(dp_sq, isuCd, dp_clsprc, dp_date) values(rp_sq.nextval,
		#{isuCd}, #{trdPrc}, sysdate)
	</insert>

</mapper>